<ion-header>
  <ion-toolbar>
    <ion-title>peliculas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="listaPeliculas">
    <!-- <h3>{{peli.titulo}}</h3> -->
    <ion-slides [options] ="slideOptions.opcionesCarrusel" pager="true" paginationType="bullets" loop="true"  style="background-color:white">
      <ion-slide *ngFor="let peli of listaPeliculas" style="background-color:white">
        <h3>{{peli.idfoto}}</h3>
        <img data-src="{{peli.ruta}}" (click)="peliTocada(peli)">
        <br>
        <h3>{{peli.titulo}}</h3>
      </ion-slide>
    </ion-slides>
    <!-- <h3>{{peliSeleccionada.titulo}}</h3> -->
  </div>
  
</ion-content>